.app {
    font-family: Arial, sans-serif;
    width: 32em;
    margin: 2.5em auto;
  }
  
  .search-bar{
    margin: 1.3em;
    margin-left: 0;
  }

  .searc{
    width: 55%;
    height: 1.7em;
    display: flex;
  }
  
  p{
    color: #afaeae;
  }

  .emergency{
    font-size: 0.8em;
    background-color: #efefef;
    display:flex;
    flex-direction: column;
    padding: 0.3em;
    margin-bottom: 0.1em;
    width: 7em;
  }
  .completed{
    background-color: #efefef;
    font-size: 0.8em;
    margin-bottom: 0.4em;
    padding: 0.5em;
  }

  .todo-list {
    font-size: 0.8em;
    background-color: #f9f9f9;
    padding: 1.5em;
    border: 0.1em solid;
    border-radius: 0.2em;
    white-space: normal;
    margin: 0 0.7em;
    width: 80%;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    padding: 0.7em;
    border-bottom: 0.1em solid #ccc;
    word-wrap: break-word; 
    white-space: normal;
  }

  .todo-item.checked {
    background-color: rgba(204, 204, 204, 0.5);
  }

  .todo-item.checked .todo-name{
    text-decoration: line-through;
  }

  .todo-item.checked .todo-description{
    text-decoration: line-through;
  }

  .todo-delete-button {
    border: 0.1em;
    background-color: rgba(212, 0, 0, 0.985);
    margin-left: 6.8em;
    font-size: 0.7em;
    width: 7em;
    height: 2.8em;
    color:#ffffff;
  }

  .todo-delete-button:hover{
    background-color: rgb(255, 0, 0);
  }
  
  .todo-name {
    font-size: 1.1em;
    width: 7em;
  }
  
  .todo-description {
    font-size: 1em;
    color:rgb(105, 105, 105);
    margin: 0.4em;
    width: 7em;
  }
  
  .todo-created-at {
    font-size: 0.8em;
    color:rgb(166, 166, 166);
  }
  
  .input-group {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 31.6em;
    height: 11.8em;
    background-color: #ffffffd6;
    padding-right: 1.2em;
    padding-bottom: 0.2em;
  }

  .input-group textarea {
    background-color: #ffffff;
    border: 0.1em solid;
    width: 26em;
    height: 1.7em;
    margin-bottom: 0.3em;
    font-size: 0.95em;
  }
  
  .input2 textarea {
    height: 4.1em;
    overflow-wrap: break-word;
    white-space: normal;
  }

  .input-group button {
    margin-left: 0.4em;
    border: none;
    width: 7.5em;
    height:2.6em;
    font-size: 0.56em;
    font-weight: bold;
    margin-top: 0;
  }
  
  .input-group button:hover {
    background-color: #527dffc9;
    color:#ffffff;
  }

  .content {
    display: flex;
    max-width: 98%;
  }
  
  .filters {
    width: 20%;
  }
  
  .emerg{
    background-color: #efefef;
    margin-left: 0.3em;
    border: none;
    width: 4.5em;
    height: 1.5em;
    font-size: 0.56em;
    font-weight: bold;
    margin-top: 0;
    padding: 0.75em;
  }

  .button-last{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0.4em;
    }
  
    .button-last button {
      margin-bottom: 0.4em; 
  }

  .active {
    background-color: #527dffc9; 
    color: #ffffff;
  }

  @media screen and (max-width: 32em) {
    
    .searc{
      width: 55%;
      flex-wrap: wrap;
    }

    .todo-list{
      display: flex;
      padding-right: 5em;
      flex-wrap: wrap;
      width: 60%;
      position: relative;
    }

    .button-last{
      align-items: flex-start;
      padding-left: 0;
      }

    .todo-delete-button {
      margin-left: 9em;
    }

  }
